extends _layout
block meta
  - 
    const title = "About | History of the Ekoy Dynasty"
    const description = "History of the Eko Dynasty is a fascinating, well-researched narration of the author’s birthplace and hometown, Isale Eko (Downtown Lagos). It presents a chronological sequence of the events in, around and after the founding of Eko as a town and carefully captures the details about its identity as a treasure chest of history, culture and the rich heritage of Lagos – it demonstrates how the history of Isale Eko is inextricably tied to the history of what is today known as Lagos State."
    const keywords = "History of the Eko Dynasty, lagos, Isale Eko, history, culture, heritage, eko's identity, obaship, chieftancy, institutions of lagos"
block content
  .grid-container.full.bg-gray-4.padding-vertical-3
    .grid-container.padding-vertical-3.pad-mobile
      .grid-x
        .cell.medium-6
          h1.h2.c-gradient.padding-bottom-3.margin-bottom-2.hide-for-medium(data-aos="fade-up" data-aos-duration="2000") History of the Eko Dynasty
          img.pad-mobile(src="/assets/img/history-of-eko-dynasty-cover.png" alt="History of the Eko Dynasty" data-aos="fade-up" data-aos-duration="2000")
        .cell.medium-5.medium-offset-1
          h1.h2.c-gradient.padding-bottom-3.margin-bottom-2.show-for-medium(data-aos="fade-up" data-aos-duration="2000") History of the Eko Dynasty

          p(data-aos="fade-up" data-aos-duration="1000")  

          p(data-aos="fade-up" data-aos-duration="1000") History of the Eko Dynasty is a fascinating, well-researched narration of the author’s birthplace and hometown, Isale Eko (Downtown Lagos). 
          
          p(data-aos="fade-up" data-aos-duration="1000") It presents a chronological sequence of the events in, around and after the founding of Eko as a town and carefully captures the details about its identity as a treasure chest of history, culture and the rich heritage of Lagos – it demonstrates how the history of Isale Eko is inextricably tied to the history of what is today known as Lagos State.

          p(data-aos="fade-up" data-aos-duration="1000") Poised with a very logical and credible stance, this book is unique when compared with the various earlier versions of Lagos history in that it is over 20 years of a very intense and thorough research process being presented in simple, easy to understand language for readers of all ages and diverse backgrounds. 

          p(data-aos="fade-up" data-aos-duration="1000") There is a lot to be wished for in many ancient African written traditions – where most of the history and happenings were passed down through oral tradition, so they are rife with controversies and often, contradictory accounts of what occurred in the distant past. Yet, Prince Kotun has been able to justify his accounts of the history of Isale Eko and Nigeria somewhat, not only by diving into the events with verifiable facts, but also by explaining the ‘hows and wherefores’ of circumstances that surrounded the historical happenings.

          p(data-aos="fade-up" data-aos-duration="1000") This book highlights the essential aspects of Eko's identity; its connection with Oduduwa, as well as the early links between Eko and the Benin Empire; Isale Eko’s history as the first port of entry of the Portuguese into what is now known as Nigeria; all valuable and insightful information for any lover of history.

          p(data-aos="fade-up" data-aos-duration="1000") Also, with over six chapters dedicated to the very captivating and educative details about the enduring Obaship and Chieftaincy institutions of Eko (Lagos) over the past three centuries; the customs and traditions of the Isale Eko people; as well as the popular and glamorous Adamu Orisa (Eyo) Festival; the book is a page-turner and not just an educative and revealing read but also a worthy historical reference for ‘all-things Lagos’.

          p(data-aos="fade-up" data-aos-duration="1000") This book is highly recommended for Isale Eko indigenes and non-indigenes of all ages, residents and lovers of the beautiful and captivating city of Lagos both locally and in the diaspora.

  include _partials/_get-the-book

