extends _layout
block meta
  - 
    const title = "Contact | History of the Eko Dynasty"
    const description = "Contact Allentown for copyright and media enquiries about the History of the EKo Dynasty, connect on facebook and twitter"
    const keywords = "contact, allentown, copyright and media enquiries"
block content
  .grid-container.full.bg-gray-4
    .grid-container.padding-vertical-3
      .grid-x
        .cell.medium-7
          .padding-vertical-3.show-for-medium
          h1.h2.c-gradient.padding-bottom-3.margin-bottom-2(data-aos="fade-up" data-aos-duration="1200") Contact
          img.padding-bottom-2(src="/assets/img/allentown-logo.svg", alt="Allentown" width="200" data-aos="fade-up" data-aos-duration="1200")
          div(data-aos="fade-up" data-aos-duration="1800")
            p
            strong Copyright and Media Enquiries 
            | <br> +234 (0)708 602 6862
            p enquiries@allentowndp.com
            //- p
            //- strong Other enquiries
            //- | <br> +234 (0) 8323 991
            //- p enquiries@allentown.com <br> +234 (0) 8323 991
          div.margin-top-1(data-aos="fade-up" data-aos-duration="2300")
            a.icon-facebook.icon-2x.padding-right-1(href="https://www.facebook.com/ekodynastyhistory" target="_blank" rel="noopener noreferrer")
            a.icon-twitter.icon-2x(href="https://twitter.com/ekodynasty" target="_blank" rel="noopener noreferrer")

        .cell.medium-5.margin-top-3.text-right
          img(src="/assets/img/history-of-eko-dynasty-cover.png", alt="History of Eko Dynasty" data-aos="fade-up" data-aos-duration="1200")