extends _layout
block meta
  -
    const title = "Sample Chapters | History of the Eko Dynasty"
    const description = "Read sample chapters of the History of the Eko Dynasty"
    const keywords = "smaple chapters, history of the eko dynasty, buy, purchase, initial pages"
block content
  iframe.pdfviewer(src="/assets/pdfjs/web/viewer.html?file=/assets/pdfjs/history-of-the-eko-dynasty.pdf", frameborder="0") 