extends _layout
block meta
  - 
    const title = "Prince Bọlakale Kọtun – Author | History of the Eko Dynasty"
    const description = 'Prince (Chief) Bọlakale Kọtun the author of "History of the Eko Dynasty" is an Economist, Administrator, Public Servant, renowned Technocrat, lover of history and books, is a native of Isale Eko, Lagos, Nigeria. After over 20 years of research in Lagos and London collecting oral and written accounts on the History of his homeland, he authored the "The History of the Eko Dynasty". In his words, "I did not write the book about myself and my family, but to set records straight in an objective manner. I wanted to leave it as a legacy for the young ones . . . something to build upon".'
    const keywords = "Prince Bọlakale Kọtun, History of the Eko Dynasty, public servant, administrator, legacy, Isale Eko"
block content
  .grid-container.full.bg-gray-4.padding-vertical-3.padding-horizontal-2
    .grid-container
      .grid-x
        .cell.medium-5.margin-bottom-3
          h1.h2.c-gradient.padding-bottom-2.show-for-small-only Prince Bọlakale Kọtun
          div.show-for-medium.padding-top-3
          div.js-slick(data-slick='{"cols": 2, "slidesToShow": 1, "slidesToScroll": 1, "adaptiveHeight": true, "arrows": false, "dots": true, "autoplay": true, "autoplaySpeed": 5000}')
            img(src="/assets/img/bolakale-kotun-2.jpg", alt="Prince Bolakale Kotun" data-aos="fade-up" data-aos-duration="1200")
            img(src="/assets/img/prince-bolakale-kotun.jpg", alt="Prince Bolakale Kotun" data-aos="fade-up" data-aos-duration="1200")
        .cell.medium-6.medium-offset-1
          .padding-bottom-3.show-for-large
          h1.h2.c-gradient.padding-bottom-3.margin-bottom-2.show-for-large(data-aos="fade-up" data-aos-duration="1200") Prince Bọlakale Kọtun
          
          div(data-aos="fade-up" data-aos-duration="1200")
            p Prince (Chief) Bolakale Kotun, Economist, Administrator, Public Servant, renowned Technocrat, lover of history and books, is a native of Isale Eko, Lagos, Nigeria.

            p He was born on 26th April, 1929 to Lamina Sanni-Kotun of Agarawu, Lagos and Afusat Abeke Kasunmu Alokolaro of Epetedo, Lagos, Nigeria. 

            p A Prince of Eko, from the influential Onilegbale Chieftancy Family (on his mother's side), reserved, erudite and introspective had his primary education at St Patrick's Catholic School, Idumagbo, Lagos, with his childhood and age-long friends Dr. Yinka Gbajumo and Chief Lai Olumegbon.

            p For a short time, he also attended St Patrick's School, Sokoto.  His secondary education was at Eko Boys High School, Lagos.

            p Before traveling abroad for the proverbial golden fleece, he had a stint as a teacher in the Republic of Liberia. In the United States, he attended Morehouse College, Atlanta, GA and Muhlenberg College, Allentown, PA (where he obtained his Bachelor's degree (Hons) in Economics). Thereafter, he obtained a Masters degree in Public Administration (with a concentration in public and administrative laws) from New York University, NY, USA, and attended other programmes at Columbia University, New York and the Royal Institute of Public Administration in London.

            p Prince (Chief) Bolakale Kotun, was a passionate Public Administrator and began his career as a public servant with the Lagos State Public Service as a transferee from the Western Nigeria Statutory Corporations Service Commission on 15th July 1972. 

            p Subsequently, he served as: Principal Secretary, Military Governor, Lagos State (1975); Permanent Secretary, Lagos State Ministry of Education (1977); Permanent Secretary, Lagos State Ministry of Agriculture, Fisheries & Natural Resources (1978); Permanent Secretary, Political Affairs (1978); Lagos State Director, National Youth Service Corp (1978); Chief Electoral Officer, Lagos State (1978); and as 1st Clerk, Lagos State House of Assembly(1979-1984).

            p He was retired from the Lagos State Civil Service on 5th April, 1984, but continued to represent Lagos State on Federal Government Privatisation Committees; with his final appointment from 1996 - 2002 as a Commissioner, Federal Civil Service Commission representing Lagos State.

            p After over 20 years of research in Lagos and London collecting oral and written accounts on the History of his homeland, he authored the "The History of the Eko Dynasty".

            p In his words, "I did not write the book about myself and my family, but to set records straight in an objective manner. I wanted to leave it as a legacy for the young ones . . . something to build upon".

            p He passed away peacefully on 2nd March,2019 survived by his wife of over 45years, Adetola, his daughter, Oluwasola and his grand-daughter, Oluwateniola. 

            p He is fondly remembered by nuclear and extended families-Braimah Kotun Family Dynasty of Agarawu, Lagos and Kasunmu Alokolaro family of Epetedo for his discipline, dedication and relentless love for family, community and development of his home state, Lagos and Nigeria in general.

            p Chief Bolakale Kotun was conferred with the religious titles of Irawo Adinni of Lagos Central Mosque, Ekerin Adinni of Oko-Awo Mosque, Aare Musulumi of Abu Court Epetedo Mosque and Bada Adinni of Surulere Central Mosque.