footer.footer
  .grid-x
    .cell.medium-6.align-self-middle
      p.margin-bottom-0 &copy; Copyright Allentown Ltd, 2022 / <a href="/credits.html" title="Credits for the History of the Eko Dynasty" class="credits-link">Credits</a>
      p.margin-bottom-1.show-for-small-only
    .cell.medium-6.medium-text-right.small-order-1
      img.logo(src="/assets/img/allentown-logo.svg", alt="Allentown")