body {
  padding: 32px;
  background-color: #f3efef;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 400px;
}

.Toastify__progress-bar {
  height: 1px;
}

.Toastify__close-button {
  transform: scale(0.8);
}